.App {
  padding-top: 50px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.community-maker {
  padding: 10px;
  border: solid red 1px;
  float:left;
}


.community-container {
  border: solid green 5px;
  float:left;
}

.room-card {
  padding: 5px;
  border: solid red 1px;
  display: inline-block;
}

.member-container {
  border: solid blue 1px;
  display: inline-block;
}

.communities-container {
  float: right;
  margin-right: 40px;
  max-width: 900px;
  border: 3px solid pink;
}

.user-maker {
  padding: 5px;
  margin: 10px;
  float: left;
  border: 1px solid blue;
}
