/* Top LEVEL */

body {
    background-color: #84bdd5;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.App {
  padding-top: 50px;
  text-align: center;
  background-color: #84bdd5;
}

.App-logo {
  float: left;
  max-width: 100px;
  mac-height: 100px;
  animation: App-logo-spin infinite 20s linear;
}

/* CONTAINERS */
.community-container {
  border: solid green 5px;
  display: inline-grid;
  max-width: 650px;
  float: right;
  margin-right: 15em;
}

.member-container {
  border: solid blue 1px;
  display: inline-block;
}

.communities-container {
  float: right;
  margin-right: 40px;
  max-width: 900px;
  border: 3px solid pink;
}

.room-container {
  display: inline-block;
}

/* DETAIL CONTAINERS */
.detail-view {
  margin-right: 30px;
  float: right;
  max-width: 400px;
  min-height: 650px;
  border: 3px solid blue;
}

.member-detail-view {
  margin-right: 30px;
  min-height: 650px;
  max-width: 400px;
  padding: 5px;
  float: right;
  border: 3px solid blue;
}

.rooms-in-member-detail {
  margin: 3px;
}

/* FORMS */
.community-maker {
  margin: 5px;
  padding: 10px;
  border: solid red 1px;
  float:right;
}

.user-maker {
  padding: 5px;
  margin: 10px;
  float: left;
  border: 1px solid blue;
}

/* CARDS */
.room-card {
  padding: 5px;
  border: solid red 1px;
  display: inline-block;
}

.member-card {
  display: inline-block;
  margin: 15px;
}

.feed-item {
  display: inline-block;
  margin: 10px;
}
