/* Top LEVEL */

button {
  cursor: pointer
}

body {
    background-color: #81d8eb;
    /* cursor: progress; */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}

img {
  max-width: 100px;
  max-height: 100px;
}

.App {
  padding-top: 15px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
  /* background-color: #81d8eb; */
  /* cursor: progress; */


.App-logo {
  max-width: 100px;
  max-height: 100px;
}

.background-video {
  z-index: -100;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* .App::-webkit-scrollbar {
    width: 1em;
}

.App::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.App::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Hind', sans-serif; */
