/* CARDS */

.community-card {
  background-color: #bec6ff;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  min-height: 200px;
  min-width: 150px;
  padding: 20px;
  margin: 20px;
  border: solid #ac2f6f 4px;
  box-shadow: 3px 6px #828282;
}

.community-card:hover {
  background-color: #d4d9fe;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  min-height: 200px;
  min-width: 150px;
  padding: 20px;
  margin: 20px;
  border: solid #ac2f6f 4px;
  box-shadow: 3px 6px #828282;
  cursor: pointer;
}

.todo-likes {
  background-color: #b596c7;
  border: solid #dbaef4 2px;
  margin: 10px;
  padding: 5px;
}

.todo-boos {
  background-color: #f7aa36;
  border: solid #c97a8a 2px;
  margin: 10px;
  padding: 5px;
}


.room-card {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeaea;
  max-height: 200px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 3px 6px #838383;
  padding: 20px;
  margin: 20px;
  border: solid red 1px;
  display: inline-block;
  padding: 10px;
}
.room-card:hover {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #d7c9da;
  max-height: 200px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 3px 6px #838383;
  padding: 20px;
  margin: 20px;
  border: solid red 1px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}


.member-card {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  border: groove #696969 3px;
  min-width: 200px;
  max-width: 200px;
  min-height: 450px;
  max-height: 450px;
  background-color: #eeeaea;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  word-wrap: normal;
  overflow: auto;
}

.member-card:hover {
  background-color: #d7c6eb;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  border: groove #696969 3px;
  min-width: 200px;
  max-width: 200px;
  min-height: 450px;
  max-height: 450px;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  word-wrap: normal;
  overflow: auto;
}

.feed-item {
  display: inline-block;
  margin: 10px;
}

.logout-button {
  font-family: 'Hind', sans-serif;
  color: #370081;
  position: absolute;
  top: 20px;
  right: 10px;
  min-width: 100px;
  padding: 3px;
  border-radius: 8px;
  background-color: blue#d1d1d2;
}

.room-creator-button {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #bebebe;
  highlight: none;
  max-width: 100px;
}

.room-creator-button:hover {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
  highlight: none;
}
.room-creator-button:hover {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
  highlight: none;
}


.feed-item {
  font-family: 'Source Sans Pro', sans-serif;
  border: solid #021c6b 4px;
  padding: 6px 4px 6px 4px;
  margin: 4px;
  border-radius: 10px;
  background-color: #eeeaea
}

.feed-item:hover {
  font-family: 'Source Sans Pro', sans-serif;
  border: solid #021c6b 4px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  background-color: #d7c9da
}

/* background-color: #477dcd; */
.todo-card {
  color: #d2cc7a;
  background-color: #7a0000;
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 4px;
  border-radius: 15px;
  min-width: 300px;

  min-height: 70px;
  max-height: 170px;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;

}

.todo-body {
  min-height: 70px;
  text-align: center;
}

.todo-elements-1 {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px;
}

.todo-delete {
  float: right;
  max-width: 25px;
  min-height: 25px;
  padding: 10px;
  color: #ffad57;
  cursor: pointer;

}


.todo-card::-webkit-scrollbar {
  width: .2em;
}

.todo-card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.todo-card::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}

.room-detail-element {
 margin-bottom: 5px;
}

.member-room-detail-card {
  display: inline-block;
  background-color: #696969;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}

.room-editor-form {
  margin-top: 3em;
  margin: 15px;
  padding: 15px;
}

.room-editor-input {
  min-width: 250px;
  display: grid;
  padding: 4px;
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  background-color: #d2c5de;
}

.room-editor-button {

}
