/* CARDS */

.community-card {
  background-color: #bec6ff;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  min-height: 200px;
  min-width: 150px;
  padding: 20px;
  margin: 20px;
  border: solid #ac2f6f 4px;
  box-shadow: 3px 6px #828282;
}

.community-card:hover {
  background-color: #d4d9fe;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  min-height: 200px;
  min-width: 150px;
  padding: 20px;
  margin: 20px;
  border: solid #ac2f6f 4px;
  box-shadow: 3px 6px #828282;
  cursor: pointer;
}

.todo-likes {
  background-color: #c87cf4;
  border: solid blue 2px;
  margin: 5px;
  padding: 5px;
}

.todo-boos {
  background-color: #f7aa36;
  border: solid red 2px;
  margin: 5px;
  padding: 5px;
}

.todo-card {
  margin: 10px;
  padding: 10px;
  border: solid green 3px;
  min-width: 200px;
  min-height: 90px;
  font-family: 'Source Sans Pro', sans-serif;

}

.room-card {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeaea;
  border-radius: 10px;
  box-shadow: 3px 6px #838383;
  padding: 20px;
  margin: 20px;
  border: solid red 1px;
  display: inline-block;
  padding: 10px;
}
.room-card:hover {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #d7c9da;
  border-radius: 10px;
  box-shadow: 3px 6px #838383;
  padding: 20px;
  margin: 20px;
  border: solid red 1px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}


.member-card {
  font-family: 'Source Sans Pro', sans-serif;
  border: groove #696969 3px;
  background-color: #9571bf;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  margin: 15px;
}

.member-card:hover {
  font-family: 'Source Sans Pro', sans-serif;
  border: groove #696969 3px;
  background-color: #d7c6eb;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}

.feed-item {
  display: inline-block;
  margin: 10px;
}

.logout-button {
  font-family: 'Hind', sans-serif;
  color: purple;
  position: absolute;
  top: 20px;
  right: 10px;
  min-width: 100px;
  padding: 3px;
  border-radius: 8px;
  background-color: blue;
}

.room-creator-button {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #bebebe;
}

.room-creator-button:hover {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
}
