/* CONTAINERS */

.todo-container {
  margin: 10px;
  padding: 10px;
  border: solid 1px red;
  max-width: 350px;
  float: right;
  margin-right: 50em;
}

.community-container {
  border: ridge #6985a6 5px;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  max-width: 900px;
  float: left;
  margin-right: 15em;

}

.community-container-view-toggle {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #77a871;
  border-radius: 10px;
  box-shadow: 1px 2px #b0b0b0;

}

.community-container-view-toggle:hover {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #b2daad;

}

.community-container-view-toggle:focus {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #77a871;
  border-radius: 10px;
  box-shadow: 1px 2px #b0b0b0;
  outline: none;

}

.member-container {
  text-align: center;
  border: ridge #360a94 4px;
  box-shadow: 3px 6px #757575;
  border-radius: 15px;
  float: left;
  display: inline-block;
  background-color: #7195ff;
}

.communities-container {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-color: red;
  padding: 2em;
  display: inline-block;
  border-radius: 10px;
  margin-right: 40px;
  min-height: 400px;
  max-width: 500px;
  border: 8px ridge #5a0085;
  box-shadow: 4px 8px #716871;
  background-color: #dceaf6
}
.communities-container,
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4a0000;
}

.room-container {
  display: inline-block;
  float: left;
  border-radius: 15px;
  background-color: #cc7aac;
  box-shadow: 3px 6px #757575;
  min-width: 500px;
  margin: 30px;
  border: ridge #e6a34c 4px;
  padding: 20px;
}

.room-container-title {
  margin-top: 1em;
}
/* DETAIL CONTAINERS */
.detail-view {
  margin-right: 30px;
  float: right;
  max-width: 400px;
  min-height: 650px;
  border: 3px solid blue;
}


.rooms-in-member-detail {
  margin: 3px;
}

.member-container-member-creator {
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  margin: 10px;
  background-color: red;
}

.room-detail-container {
  background-color: purple;
  border-radius: 10px;
  border: 4px ridge grey;
  padding: 20px;
  margin: 20px;
  margin-right: 20em;
  float: right;
}

.room-details {
  float: right;
  padding: 10px;
  margin: 10px;
  display: grid;
}


.member-detail-view {
  background-color: purple;
  border-radius: 10px;
  border: 4px ridge grey;
  padding: 20px;
  margin: 20px;
  margin-right: 20em;
  float: right;
}

.member-detail-view-details {
  float: right;
  padding: 10px;
  margin: 10px;
  display: grid;
}
