/* CONTAINERS */

.todo-container {
  background-color: rgb(62,114,198);
  min-width: 320px;
  max-width: 1100px;
  max-height: 300px;
  display: inline-flex;
  border-radius: 10px;
  margin: 15px;
  margin-left: 18px;
  margin-top: 0px;
  padding: 10px;
  border: groove 5px orange;
  overflow: auto;
  float: left;
}

.community-container {
  background-color: #fff2d0;
  border-radius: 20px;
  border: ridge #6985a6 10px;
  margin: 10px;
  margin-left: 20px;
  padding: 20px;
  display: inline-block;
  max-width: 1200px;
  max-height: 910px;
  overflow: auto;
  float: left;
}

.community-container-view-toggle {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #77a871;
  border-radius: 10px;
  box-shadow: 1px 2px #b0b0b0;
  max-height: 30px;

}

.community-container-view-toggle:hover {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #b2daad;
  max-height: 30px;


}

.community-container-view-toggle:focus {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #77a871;
  border-radius: 10px;
  box-shadow: 1px 2px #b0b0b0;
  outline: none;
  max-height: 30px;


}

.communities-container {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-color: red;
  padding: 2em;
  display: inline-block;
  border-radius: 10px;
  margin-right: 40px;
  min-height: 400px;
  max-width: 500px;
  border: 8px ridge #5a0085;
  box-shadow: 4px 8px #716871;
  background-color: #dceaf6
}
.communities-container,
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4a0000;
}


.room-container-title {
  margin-top: 1em;
  color: #ebe3be;
}
/* DETAIL CONTAINERS */
.detail-view {
  margin-right: 30px;
  float: right;
  max-width: 400px;
  min-height: 650px;
  border: 3px solid blue;
}


.rooms-in-member-detail {
  margin: 3px;
}

.member-container-member-creator  {
  outline: none;
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #bebebe;
}

.member-container-member-creator :hover {
  outline: none;
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
}
.member-container-member-creator :focus {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
}


/* .room-detail-container {
  color: #ed7e18;
  background-color: rgb(62,114,198);
  display: inline-block;
  border-radius: 10px;
  max-width: 450px;
  border: 4px ridge grey;
  padding: 20px;
  margin-top: 4em;
  margin-right: 13em;;
  float: right;
} */

.room-details-h3 {
  margin: 50px;
}
.room-details {
  color: #ed7e18;
  background-color: rgb(62,114,198);
  display: inline-block;
  border-radius: 10px;
  max-width: 450px;
  border: 4px ridge grey;
  padding: 20px;
  margin-top: 4em;
  margin-right: 12em;;
  float: right;
}


.member-detail-view {
  color: #ed7e18;
  background-color: rgb(62,114,198);
  display: inline-block;
  border-radius: 10px;
  max-width: 450px;
  border: 4px ridge grey;
  padding: 20px;
  margin-top: 4em;
  margin-right: 12em;;
  float: right;
}



.member-container {
  /* text-align: center;
  border: ridge #360a94 4px;
  box-shadow: 3px 6px #757575;
  border-radius: 15px;
  float: left;
  display: inline-block;
  background-color: #7195ff;
  max-height: 650px;
  overflow: auto; */
  display: inline-block;
  flex-direction: column;
  float: left;
  max-height: 450px;
  border-radius: 15px;
  background-color: rgb(62,114,198);
  box-shadow: 3px 6px #757575;
  width: 1100px;
  margin: 15px;
  border: ridge #e6a34c 4px;
  padding: 20px;
  overflow: auto;
}

.room-container {
  display: inline-block;
  flex-direction: column;
  float: left;
  max-height: 450px;
  border-radius: 15px;
  background-color: rgb(62,114,198);
  box-shadow: 3px 6px #757575;
  width: 1100px;
  margin: 15px;
  border: ridge #e6a34c 4px;
  padding: 20px;
  overflow: auto;
}




.todo-container::-webkit-scrollbar {
  width: .2em;
}

.todo-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.todo-container::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}
.community-container::-webkit-scrollbar {
  width: .2em;
}

.community-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.community-container::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}

.member-container::-webkit-scrollbar {
  width: .2em;
}

.member-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.member-container::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}

.room-container::-webkit-scrollbar {
  width: .2em;
}

.room-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.room-container::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}
.room-card::-webkit-scrollbar {
  width: .2em;
}

.room-card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.room-card::-webkit-scrollbar-thumb {
  background-color: #c80e75;
  outline: 1px solid slategrey;
}



.member-detail-view-details {
  /* float: right;
  padding: 10px;
  margin: 10px;
  display: grid; */
  color: #ed7e18;
  background-color: rgb(62,114,198);
  display: grid;
  border-radius: 10px;
  min-width: 400px;
  max-width: 450px;
  border: 4px ridge grey;
  padding: 20px;
  margin-top: 4em;
  margin-right: 13em;;
  float: right;
}

.member-creator-button {
  position: fixed;
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #bebebe;
  highlight: none;
  display: grid;
  max-width: 100px;
    border: solid #7a061e 2px;
}

.member-creator-button:hover {
  font-family: 'Hind', sans-serif;
  border-radius: 5px;
  color: green;
  float: left;
  background-color: #dfdfdf;
  cursor: pointer;
  highlight: none;
    border: solid #7a061e 2px;
}
