/* FORMS */
.community-maker {
  margin: 5px;
  margin-right: 20em;
  padding: 10px;
  display: inline-block;
  border: groove #991269 8px;
  border-radius: 10px;
  float:right;
  width: 300px;
}

.community-maker-input {
width: 240px;
border-radius: 5px;
background-color: #d2c5de;
box-shadow: 2px 4px #989898;
}

.community-maker-button {
background-color: #156eb0;
color: #a9eed4;
font-family: 'Arimo', sans-serif;
float: right;
display: grid;
margin-top: 30px;
margin-bottom: 10px;
border-radius: 10px;
}

.user-maker {
  text-align: center;
  max-width: 60%;
  display: grid;
  padding: 50px;
  margin: 30px;
  border-radius: 20px;
  border: 4px groove #623878;
  box-shadow: 5px 8px #6c6c6c;
}

.user-maker-form {
  display: inline-block;
  margin: 10px;
}

.user-maker-username {
  background-color: #d2c5de;
  font-size: 150%;
  width: 80%;
  padding: 10px;
  margin: 20px;
  color: #011149;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  display: inline-block;
  border: 2px solid #5d0101;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-maker-password {
  background-color: #d2c5de;
  font-size: 150%;
  width: 80%;
  padding: 10px;
  margin: 20px;
  color: #011149;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  display: inline-block;
  border: 2px solid #5d0101;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-maker-buttons {
  font-family: 'Arimo', sans-serif;
  background-color: #156eb0;
  color: #a9eed4;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  font-size: 16px;
}

.user-maker-buttons:hover {
  background-color: #abb6be;
  color: #a9eed4;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  font-size: 16px;
}

.assignment-form{
padding: 5px;
}

.assignment-select{
  font-family: 'Arimo', sans-serif;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #8184e2;

  margin: 10px;
  padding: 20px;
  width: 190px;
  text-align: center;
  height: 45px;
}

.assignment-option {
  background-color: blue;

}

.room-editor-button {
  background-color: #dfdfdf;
  color: green;
  font-family: 'Hind', sans-serif;
  border: solid #7a061e 2px;
  border-radius: 5px;
  float: left;
  display: inline-block;
  float: left;
  cursor: pointer;
  highlight: none;
}

.member-creator-form {
  display: flex;
  justify-content: center;
}

.member-creator-input {
padding: 5px;
font-family: 'Hind', sans-serif;
margin-left: 10px;
margin-right: 10px;
border-radius: 10px;
background-color: #d2c5de;
box-shadow: 2px 4px #989898;
}

.new-member-creator-button {
  background-color: #dfdfdf;
  color: green;
  font-family: 'Hind', sans-serif;
  border: solid #7a061e 2px;
  border-radius: 5px;
  float: left;
  display: inline-block;
  float: right;
  margin-left: 10px;
  cursor: pointer;
  highlight: none;
}
