/* MEMBER VIEW CLASSES */

.member-password-changer {
  margin-left: 34%;
  margin-top: 10em;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 8px;
  box-shadow: 4px 8px #6b6b6b;
  border: groove #f07ad9 8px;
  display: inline-table;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

.member-password-changer-input {
  /* font-family: 'Source Sans Pro', sans-serif;
  margin: 10px;
  border-radius: 5px;
  padding: 4px;
  text-align: center; */
  background-color: #d2c5de;
  font-size: 150%;
  width: 90%;
  padding: 10px;
  margin: 20px;
  color: #011149;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  display: inline-block;
  border: 2px solid #5d0101;
  border-radius: 4px;
  box-sizing: border-box;
}
.member-password-changer-button {
  background-color: #156eb0;
  color: #a9eed4;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  font-size: 16px;
}


.member-room-card {
  background-color: #e98c2a;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px;
  margin: 10px;
  border: groove #833026 5px;
  border-radius: 10px;
}

.member-room-card:hover {
  background-color: #dfa86d;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  width: 300px;
  height: 350px;
  max-height: 350px;
  padding: 15px;
  margin: 10px;
  border: groove #833026 5px;
  border-radius: 10px;
  max-width: 300px;
  min-height: 150px;
}

.friend-card {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  border-radius: 8px;
  background-color: #e98c2a;
  min-width: 150px;
  min-height: 200px;
  margin: 15px;
  padding: 10px;
  border: groove #7d3816 4px;
}

.friend-card:hover {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  border-radius: 8px;
  background-color: #fabb79;
  min-width: 150px;
  min-height: 200px;
  margin: 15px;
  padding: 10px;
  border: groove #7d3816 4px;
}


.todo-member-container {
  background-color: rgb(62,114,198);

  min-width: 450px;
  max-width: 450px;
  max-height: 650px;
  display: inline-block;
  border-radius: 10px;
  margin: 15px;
  margin-left: 18px;
  margin-top: 0px;
  padding: 10px;
  border: groove 5px orange;
  overflow: auto;
}

.todo-member-card {
  color: #d2cc7a;
  background-color: #7a0000;
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 4px;
  border-radius: 15px;
  min-width: 300px;
  min-height: 650px;
  max-height: 650px;
  max-width: 400px;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;

}




.member-room-container {
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
  display: inline-block;
  flex-direction: column;
  max-width: 300px;
  min-height: 600px;
  max-height: 600px;
  border: groove #ee6323 6px;
  border-radius: 10px;
  padding: 15px;
  margin: 30px;
  overflow: auto;
}

.member-friends-container {
  overflow: auto;
  display: inline-block;
  border: groove #09446a 8px;
  background-color: goldenrod;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  min-height: 750px;
  max-height: 750px;
  margin: 20px;
}

.member-community-container {
  justify-content: center;
  background-color: #969696;
  width: 1600px;
  height: 850px;
  display: inline-block;
  flex-direction: column;
  margin: 2em;
  border: solid red 2px;
}

.member-view-member-detail-window {
  display: inline-block;
  float: right;
  border: solid red 1px;
}
